.idea
Part 4/__pycache__
project-files/dynamips/*.ghost
project-files/dynamips/*.txt
dynamips-backup/dynamips/*.ghose
dynamips-backup/dynamips/*.txt
Essai_script/test_script/project-files/dynamips/*.ghose
Essai_script/test_script/project-files/dynamips/*.txt