.idea
Part 4/__pycache__
Part 1/project-files/dynamips/*.ghost
Part 1/project-files/dynamips/*.txt
Part 4/Essai_script/test_script/project-files/dynamips/*.ghose
Part 4/Essai_script/test_script/project-files/dynamips/*.txt